/*GLOBAL*/

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  color: #767e9e;
}

body h1,
h2 {
  color: #666d89;
  margin: 0;
}

body p {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: justify;
  margin: 0;
}

body h1 {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 18px;
}

body h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 17.86px;
}

.page-wrap {
  max-width: 1020px;
  margin: 0 auto;
}

.inner-wrap {
  position: relative;
  max-width: 940px;
  margin: 0 auto;
}

/*PORTFOLIO HEADER*/

header {
  background-color: #2d303a;
  margin: 0;

}

div.portfolio-header {
  padding-top: 60px;
}

div.portfolio-header p {
  margin-bottom: 10px;
}

/*Menu*/

div.header-menu {
  max-width: 290px;
  padding-bottom: 20px;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

ul li {
  padding: 2px 6px;
  cursor: pointer;
  transition: linear 0.3s;
  border: 1px solid #767e9e;
  border-radius: 5px;

}

ul li:hover {
  color: white;
  border: 1px solid white;
}

/*PORTFOLIO*/

section.portfolio {
  padding-bottom: 70px;
}

/*Grid-stuff*/

section.portfolio {
  background-color: #2d303a;
}

div.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  justify-content: space-between;
}

/*ABOUT*/

section.about {
  background-color: #f2f2f2;
  padding-bottom: 70px;
}

.about-header {
  padding-top: 60px;
  padding-bottom: 43px;
}

section.about .team .grid-container {
  grid-column-gap: 20px;
}

section.about .team .grid-container h2 {
  padding-top: 14px;
  padding-bottom: 10px;
}

section.about .team .grid-container p {
  font-size: 12px;
  font-weight: 400;
  line-height: 21.56px;
  padding-bottom: 24px;
}

/*Flex stuff*/

.flex-container {
  display: flex;
  justify-content: space-between;
  max-width: 155px;
}

.social-link {
  cursor: pointer;
}
