/*GLOBAL*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  text-align: justify;
  color: #767e9e;
}

body h1 {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 18px;
}

body h2 {
  font-size: 18px;
  font-weight: 900;
  line-height: 17.86px;
}

.wrapper {
  max-width: 950px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/*NAVIGATION*/

div#home {
  visibility: hidden;
  width: 0px;
}

div#services {
  visibility: hidden;
  width: 0px;
}

/*HEADER*/

header {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 34px 0px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

header .flex {
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-items: center;
  position: relative;
  bottom: 0px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 5px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
}

nav ul {
  display: flex;
  width: 380px;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0px;
  padding: 0 0px;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

nav li {
  cursor: pointer;
  transition: linear 0.3s;
}

nav li:hover {
  color: yellow;
}

.active {
  color: red;
}

/*SLIDER*/

.slider-section {
  background-color: #f06c64;
  transition: ease-out 0.5s;
  border-bottom: 6px solid #d76268;
}

.slideshow {
  width: 950px;
  overflow: hidden;
  position: relative;
  height: 595px;
}

.slider {
  position: relative;
  display: flex;
  width: 400%;
}

/*FIRST SLIDE*/

.s1 {
  position: relative;
  width: 950px;
  height: 595px;
  background-color: #f06c64;
  z-index: 0;
}

.phone-horizontal {
  position: absolute;
  top: 170px;
  right: 80px;
}

.phone-vertical {
  max-width: 220px;
  position: relative;
  top: 50px;
  left: 70px;
}

.phone-vertical,
.phone-horizontal {
  cursor: pointer;
}

.phoneVertical-blackScreen {
  display: none;
  position: absolute;
  top: 60px;
  left: 11px;
  width: 193px;
  height: 340px;
  background-color: black;
}

.phoneHorizontal-blackScreen {
  display: none;
  position: absolute;
  top: 13px;
  right: 80px;
  width: 350px;
  height: 190px;
  background-color: black;
}

/*Slide 2*/

.s2 {
  display: flex;
  background-color: #648bf0;
  width: 950px;
  height: 595px;
  align-items: center;
  justify-content: center;
}

.s2-image {
  margin: 0 auto;
}

/*Arrows*/

.arrow {
  font-size: 2em;
  color: #dadada;
  opacity: 0.5;
  cursor: pointer;
  transition: ease-out 0.2s;
  z-index: 1;
}

.arrow-left {
  position: absolute;
  top: 274px;
  left: 1px;
}

.arrow-right {
  position: absolute;
  top: 274px;
  right: 5px;
}

.arrow:hover {
  color: #ffffff;
  opacity: 1;
}

/*SECTION HEADERS*/

.section-header {
  padding: 42px 0 0 0;
}

.section-header h1 {
  font-size: 30px;
  font-weight: 900;
  line-height: 17.86px;
  color: #666d89;
}

.section-header p {
  font-size: 17.7px;
  font-weight: 300;
  line-height: 30px;
  text-align: justify;
  color: #767e9e;
  padding: 5px 0;
}

/*SERVICES*/

.section-services {
  background-color: #f2f2f2;
  padding-bottom: 46px;
}

.section-services .section-header p {
  position: relative;
  bottom: -5px;
}

/*Grid and Flex Stuff*/
.grid-container {
  position: relative;
  bottom: -3px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 15px;
  grid-column-gap: 20px;
}

.service-container {
  display: flex;
}

.services {
  margin-top: 40px;
}

.description {
  padding-left: 20px;
}

.services h4 {
  font-size: 18px;
  color: #666d89;
  font-weight: 900;
  line-height: 17.86px;
  margin: 0;
  padding: 0;
}

.services p {
  display: block;
  height: 70px;
  width: 220px;
  overflow: hidden;
  font-size: 12px;
  color: #767e9e;
  font-weight: 300;
  text-align: justify;
  line-height: 21.56px;
  margin-top: 10px;
  padding: 0;
}

.services-bottom {
  width: 1020px;
  height: 6px;
  background-color: #ffffff;
}

/*SECTION HEADERS*/

.section-header {
  padding: 42px 0 0 0;
}

.section-header h1 {
  font-size: 30px;
  font-weight: 900;
  line-height: 17.86px;
  color: #666d89;
}

.section-header p {
  font-size: 17.7px;
  font-weight: 300;
  line-height: 30px;
  text-align: justify;
  color: #767e9e;
  padding: 5px 0;
}

/*SERVICES*/

.section-services {
  background-color: #f2f2f2;
  padding-bottom: 49px;
  border-bottom: 6px solid #ffffff;
}

.section-services .section-header p {
  position: relative;
  bottom: -5px;
}

/*Grid and Flex Stuff*/
.grid-container {
  position: relative;
  bottom: -3px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 15px;
  grid-column-gap: 20px;
}

.service-container {
  display: flex;
}

.services {
  margin-top: 40px;
}

.description {
  padding-left: 20px;
}

.services h4 {
  font-size: 18px;
  color: #666d89;
  font-weight: 900;
  line-height: 17.86px;
  margin: 0;
  padding: 0;
}

.services p {
  display: block;
  height: 70px;
  width: 220px;
  overflow: hidden;
  font-size: 12px;
  color: #767e9e;
  font-weight: 300;
  text-align: justify;
  line-height: 21.56px;
  margin-top: 10px;
  padding: 0;
}

.services-bottom {
  width: 1020px;
  height: 6px;
  background-color: #ffffff;
}

/*PORTFOLIO*/

section.portfolio {
  background-color: #2d303a;
  padding-bottom: 31px;
  border-bottom: 6px solid #323746;
}

section.portfolio .section-header p {
  position: relative;
  bottom: -5px;
}

/*Menu*/

div.header-menu {
  max-width: 290px;
  padding-bottom: 30px;
  margin-top: -5px;
}

section.portfolio ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

section.portfolio ul li {
  padding: 2px 6px;
  cursor: pointer;
  transition: linear 0.3s;
  border: 1px solid #767e9e;
  border-radius: 5px;
}

section.portfolio ul li:hover {
  color: white;
  border: 1px solid white;
}

.activePortfolio {
  color: white;
}

div.portfolio-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  justify-content: space-between;
}

div.portfolio-items .grid-item {
  cursor: pointer;
}

.grid-wrapper {
  margin-top: -10px;
  padding: 10px 0px;
  height: 630px;
  /* overflow: hidden; */
}

.portfolio-bottom {
  width: 1020px;
  height: 6px;
  background-color: #323746;
}

.activePortfolioItem {
  outline: 5px solid #f06c64;
}

/*ABOUT*/

section.about {
  background-color: #f2f2f2;
  padding-bottom: 65px;
  border-bottom: 6px solid #ffffff;
}

section.about .section-header p {
  position: relative;
  bottom: -5px;
}

.about-header {
  padding-top: 60px;
  padding-bottom: 43px;
}

section.about div.team {
  padding-top: 28px;
}

section.about .team .team-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
}

section.about .team .team-container h2 {
  display: block;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 14px;
  padding-bottom: 10px;
}

section.about .team .team-container p {
  font-size: 12px;
  font-weight: 400;
  line-height: 21.56px;
  padding-bottom: 24px;
}

.team-container h2,
.team-container p {
  margin: 0;
}

/*Flex stuff*/

.social-container {
  display: flex;
  justify-content: space-between;
  max-width: 155px;
}

.social-link {
  cursor: pointer;
}

.about-bottom {
  width: 1020px;
  height: 6px;
  background-color: #ffffff;
}

/*GET QUOTE*/

section.get-quote {
  background: #f06c64;
  padding-bottom: 20px;
  padding-top: 0px;
  border-bottom: 6px solid #ea676b;
}

div.form-header {
  padding-top: 60px;
}

section.get-quote p,
section.get-quote h1,
section.get-quote h2 {
  color: #f0d8d9;
}

section.get-quote .section-header p {
  margin-top: 22px;
}

.form-container {
  display: flex;
  padding-top: 9px;
}

form {
  display: flex;
  flex-direction: column;
  width: 620px;
}

form > input,
textarea {
  margin-top: 15px;
  padding: 12px;
  background-color: #d6564f;
  border: none;
  border-radius: 5px;
}

::placeholder {
  font-size: 12px;
  color: #f48c8f;
  line-height: 21.56px;
  font-weight: 600;
  /* letter-spacing: 0.5px; */
}

textarea {
  resize: none;
}

input,
select,
textarea {
  color: #f0d8d9;
}

button {
  margin-top: 15px;
  border: none;
  cursor: pointer;
  max-width: 100px;
  padding: 10px;
  background-color: #982649;
  color: white;
  font-family: "Lato";
  border-radius: 5px;
}

.contact {
  padding-left: 20px;
  max-width: 320px;
}

.contact a {
  text-decoration: none;
}

.contact h2 {
  font-size: 18px;
}

.contact p {
  margin-top: -5px;
  font-size: 12px;
  font-weight: 300;
  line-height: 21.56px;
}

.contact ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  position: relative;
  right: 10px;
}

.contact ul li {
  display: flex;
  padding: 2px 0px;
}

.contact ul li span {
  display: inline-flex;
  align-items: center;
  text-align: left;
  flex: 1 0 120px;
  max-width: 200px;
  color: #f0d8d9;
  font-size: 12px;
}

.contact ul li div {
  width: 30px;
  text-align: center;
}

#message-icon {
  width: 15px;
}

.get-quote-bottom {
  background-color: #ea676b;
  width: 1020px;
  height: 6px;
}

/*POPUP Window*/

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid lightgray;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 60px;
  z-index: 10;
  background-color: white;
}

#popup h1,
#popup h2,
#popup p {
  color: #373737;
  margin: 20px 0;
}

.popup h1 {
  font-size: 25px;
}

.popup h2 {
  font-size: 20px;
}

#close-button {
  margin-top: 15px;
  border: none;
  cursor: pointer;
  max-width: 100px;
  padding: 10px 40px;
  background-color: #2d303a;
  color: white;
  font-family: "Lato";
  border-radius: 5px;
  transition: 0.2s ease-out;
}

#close-button:hover {
  background-color: rgb(88, 93, 112);
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#close-cross {
  font-size: 30px;
  cursor: pointer;
  transition: 0.2s ease-out;
  color: #2d303a;
}

#close-cross:hover {
  color: rgb(88, 93, 112);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(85, 85, 85, 0.5);
  pointer-events: none;
  opacity: 0;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

#popup-description {
  background-color: rgb(238, 238, 238);
  color: #373737;
  margin-top: 0;
}

/*FOOTER*/

footer {
  padding: 20px 0px;
  color: #666d89;
  background-color: #2d303a;
  font-size: 12px;
}

footer .wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social > div {
  margin-right: 8px;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}
